<?xml version="1.0" encoding="utf-8"?>
<Mappings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://exitoconsulting.ru/schema/CrmWebResourcesUpdater/MappingSchema.xsd">
  <!--
EXAMPLES OF MAPPINGS:
<Mapping localPath="scripts\contact.js" webResourceName="new_contact"/>
<Mapping localPath="account.js" webResourceName="new_account"/>
-->
  <Mapping localPath="CheckForUpdateFromAzureCode.html" webResourceName="dkdt_/CheckForUpdateFromAzureCode.html" />
  <Mapping localPath="CheckForUpdateFromAzureCode.html.js" webResourceName="dkdt_/CheckForUpdateFromAzureCode.html.js" />
  <Mapping localPath="scripts\o.min.js" webResourceName="dkdt_/scripts/o.min.js" />
  <Mapping localPath="scripts\o.js" webResourceName="dkdt_/scripts/o.js" />
</Mappings>